{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h3>Profile</h3>
        <p class="justified-content">
            Detail-oriented and motivated software engineer. Proficient in programming languages such as Python and JavaScript, with hands-on experience in web development and database management. Experienced in collaborative environments through academic projects and internships. I am eager to contribute my problem-solving skills and technical knowledge to a dynamic development team.
        </p>
        <h3>Technical & Power Skills</h3>
        <p class="justified-content">
            <strong>Technologies & Tools:</strong> Microsoft Office, Excel, PowerPoint, MATLAB(Basic).<br>
            <strong>Power Skills:</strong><br>
            <strong>Collaboration:</strong> Worked effectively with team members in college, to achieve project goals.<br>
            <strong>Skills:</strong> Python, MySQL, CSS, HTML, JavaScript, Django (Basic).<br>
        <h3>Certifications</h3>
        <p class="justified-content">
        <strong>Palle Technologies –Python Full stack Developer- Jun 2024 – Dec 2024</strong><br>
            The curriculum covers topics such as
            <li>python (programming language)</li>
            <li>MySQL database</li>
            <li>Front-End Technologies (HTML, CSS, JavaScript)</li>
            <li>Framework (Django)</li><br>
        <strong>100 days of code: The complete python</strong><br>
            Udemy - Oct 2023<br>
        <h3>Education</h3>
        <p class="justified-content">
            <li>Sree Vidyanikethan Engineering College--B Tech EEE - Aug 2020 - Jun 2024<br>
              CGPA : 8.83</li><br>

            <li>Sri Chaitanya Junior Kalasala -- Intermediate MPC - Jul 2018 - Jun 2020<br>
              CGPA: 9.82</li><br>

            <li>Keshava Reddy E.M High School -- SSC - Jul 2017 - Mar 2018<br>
              CGPA : 10</li><br>
        <h3>Work Experience</h3>
        <p class="justified-content">
        <strong>Final Year Thesis – “A hybrid Neuro-Fuzzy system for Electrical Load Forecasting” - 2021</strong><br>
            The main aim of the project is to determine the Electrical load to be required based on the past data. It is related to the Neural Networks. CANFIS is one of the methods of short-term load forecasting technique. CANFIS architecture can be tailored to various data patterns and complexities through the application of Bell and Gaussian functions. These membership functions help the model to accurately represent the innate uncertainties and non-linearities seen in real-world data. This project examines the impact of different configurations on the accuracy, generalization capacity, and learning efficiency of the CANFIS model through extensive experimentation with the data set for load prediction.<br>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
