{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Please find the details below for contact!</p>
                         <ul class="contact-details">
                                <li><span>Phone:</span> +91 8897704032</li>
                                <li><span>Email:</span> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jayaprakashbommisetty2580@gmail.com&su=Inquiry&body=Hello, I would like to know more about..." target="_blank"> jayaprakashbommisetty2580@gmail.com</a></li>
                                <li><span>Address:</span> Balepalli(V), Vengamvaripalle(P), Nimmanapalle(M), 517280
                                Annamayya(dist), Andhra Pradesh, India
                             <li><span>linkedin:</span><a href="https://www.linkedin.com/in/bommisetty-jaya-prakash-2577b8225/">linkedin Profile</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}
